<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>ADD NEW PRODUCT</h3>
<p>
    <a th:href="@{/product}">BACK TO PRODUCT LIST</a>
</p>
<%--Trang create.html lưu ý ở thẻ form chúng ta thêm thuộc tính: enctype="multipart/form-data"--%>
<div id="form">
    <form th:action="@{/product/save}" th:object="${productForm}"
          method="post" novalidate="novalidate" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}">
        <div>
            <label>NAME</label>
            <input type="text" th:field="*{name}">
        </div>
        <div>
            <label>DESCRIPTION</label>
            <input type="text" th:field="*{description}">
        </div>
        <div>
            <label>IMAGE</label>
            <input type="text" th:field="*{image}">
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>